<div class="row">
  <fieldset id="formulario_base" style="margin-bottom: 20px;">
  <legend id="formulario_title"><p>Perfil del Usuario</p></legend>

<form>
 

      <div class="form-group">
        <label for="exampleInputEmail1" class="col-xs-offset-2 col-xs-9">Nombre</label>
        <div class="col-xs-offset-2 col-xs-9">
          <input type="text" class="form-control" placeholder="alfredo manuel">
      </div>
      <br><br>
      </div>

       <div class="form-group">
        <label for="exampleInputEmail1" class="col-xs-offset-2 col-xs-9">Apellido</label>
        <div class="col-xs-offset-2 col-xs-9">
          <input type="text" class="form-control" placeholder="Valbuena Lozada">
      </div>
      <br><br>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1" class="col-xs-offset-2 col-xs-9">Edad</label>
        <div class="col-xs-offset-2 col-xs-9">
          <input type="text" class="form-control" placeholder="25">
      </div>
      <br><br>
      </div>

       <div class="form-group">
        <label for="exampleInputEmail1" class="col-xs-offset-2 col-xs-9">Email</label>
        <div class="col-xs-offset-2 col-xs-9">
          <input type="text" class="form-control" placeholder="almavalo11@gmail.com">
      </div>
      <br><br>
      </div>

       <div class="form-group">
        <label for="exampleInputEmail1" class="col-xs-offset-2 col-xs-9">Telefono</label>
        <div class="col-xs-offset-2 col-xs-9">
          <input type="text" class="form-control" placeholder="0416-3596581">
          <br>
      </div>
      </div>

       <div class="form-group">
        <label for="exampleInputFile" class="col-xs-offset-2 col-xs-9">Actulizar Foto Perfil</label>
        <div class="col-xs-offset-2 col-xs-9">
        <input type="file" id="exampleInputFile">
        <br><br>
        </div>

      </div>


     
 <div class="form-group ">
<label for="exampleInputEmail1" class="col-xs-offset-2 col-xs-9">Nombre de Usuario:<span class="required">*</span></label>
<div class="col-xs-offset-2 col-xs-9">
<input class=" form-control" id="fullname" name="fullname" type="text" placeholder="almavalo" />
</div>
</div>

 <div class="form-group ">
<label for="exampleInputEmail1" class="col-xs-offset-2 col-xs-9">Contraseña:<span class="required">*</span></label>
<div class="col-xs-offset-2 col-xs-9">
<input class=" form-control" id="fullname" name="fullname" type="text" placeholder="******************" />
</div>
</div>

 <div class="form-group ">
<label for="exampleInputEmail1" class="col-xs-offset-2 col-xs-9">Repetir Contrasena:<span class="required">*</span></label>
<div class="col-xs-offset-2 col-xs-9">
<input class=" form-control" id="fullname" name="fullname" type="text" placeholder="*******************"/>
</div>
</div>

     
        

      <div class="form-group">
        <div class="col-xs-offset-2 col-xs-9">
            <button type="button" class="btn btn-info"><i class="fa fa-check fa-2x"></i>Guardar</button>
          </div>
      </div>

    </form>
 



  </fieldset>

  <div class="form-group">
      <div style="margin-left: 40px;">
          <%=link_to 'Salir', enterprises_index_path %>
        </div>
    </div>
  
</div>