 <div class="row">
	<fieldset id="formulario_base" style="margin-bottom: 20px;">
	<legend id="formulario_title"><p>Membresias</p></legend>
		<form class="form-horizontal">
			<div class="form-group" style="margin-top: 20px;">
				<div class="col-xs-offset-2 col-xs-9">
					<select class="form-control" id="membresias">
					  <option>Membresias</option>
					  <option>ESTANDAR</option>
					  <option>SEMIPROFESIONAL</option>
					  <option>PROFESIONAL</option>
					</select>
				</div>
	 		</div>

	 		<div class="form-group">
			    <div class="col-xs-offset-2 col-xs-10">
			      <div class="checkbox">
			        <label>
			          <input type="checkbox"> Almacenamiento
			        </label>
			      </div>
			    </div>
			</div>
			<!-- Diferencia del beneficio de cada membresia -->
	 		<div class="form-group">
			    <div class="col-xs-offset-2 col-xs-9">
			      <input type="text" class="form-control" id="inputPassword3" placeholder="Almacenamiento">
			    </div>
			</div>

			<div class="form-group">
			    <div class="col-xs-offset-2 col-xs-10">
			      <div class="checkbox">
			        <label>
			          <input type="checkbox"> Usuarios
			        </label>
			      </div>
			    </div>
			</div>
			<!-- Diferencia del beneficio de cada membresia -->
	 		<div class="form-group">
			    <div class="col-xs-offset-2 col-xs-9">
			      <input type="text" class="form-control" id="inputPassword3" placeholder="Usuarios">
			    </div>
			</div>

			<div class="form-group">
			    <div class="col-xs-offset-2 col-xs-10">
			      <div class="checkbox">
			        <label>
			          <input type="checkbox"> Empleados
			        </label>
			      </div>
			    </div>
			</div>
			<!-- Diferencia del beneficio de cada membresia -->
	 		<div class="form-group">
			    <div class="col-xs-offset-2 col-xs-9">
			      <input type="text" class="form-control" id="inputPassword3" placeholder="Empleados">
			    </div>
			</div>

			<div class="form-group">
			    <div class="col-xs-offset-2 col-xs-10">
			      <div class="checkbox">
			        <label>
			          <input type="checkbox"> Telefonia
			        </label>
			      </div>
			    </div>
			</div>
			<!-- Diferencia del beneficio de cada membresia -->
	 		<div class="form-group">
			    <div class="col-xs-offset-2 col-xs-9">
			      <input type="text" class="form-control" id="inputPassword3" placeholder="Empleados">
			    </div>
			</div>
	 		
	 		<br>
			<div class="form-group">
				<div class="col-xs-offset-2 col-xs-10">
				    <button type="submit" class="btn btn-default">Guardar</button>
				    <%= link_to 'Salir', root_path %>
			    </div>
			</div>

		</form>
	</fieldset>
 </div>
