<div id="element" class="introLoading"></div>
<section class="row">
    <div class="col-sm-12 col-md-12">
	    <div id="slider">
	        <ul class="bjqs">
	            <li> 
	                <%= image_tag("slider-1-1.jpg", alt: "", title: "Expande tus HORIZONTES... Nuestros diseños no
	                tienen fronteras, anímate a ser parte de la historia" ) %>
	            </li>
	            <li>
	            	<%= image_tag("slider-2-1.jpg", alt: "", title: "Creatividad sin Límites.... el color es 
	                parte de nuestras vidas... también puede serlo tu empresa" ) %>
	            </li>
	             <li>
	             	<%= image_tag("slider-3-1.jpg", alt: "", title: "Tenemos los INGREDIENTES PARA TU PROYECTO....
	                y sabemos como combinarlos , prueba nuestra receta" ) %>
	            </li>
	        </ul>
	    </div>
    </div>
</section>
<br>