 <div class="row">
	<fieldset id="formulario_base" style="margin-bottom: 20px;">
	<legend id="formulario_title"><p>Ajustes</p></legend>
		<form class="form-horizontal">
			<div class="form-group" style="margin-top: 20px;">
			<label for="roles" class="col-xs-2 col-sm-3 control-label" style="margin-left: 20px;">Roles</label>
				<div class="col-xs-9 col-sm-8">
					<select class="form-control" id="roles">
					  <option>ROLES</option>
					  <option>Administrador</option>
					  <option>Empresa</option>
					  <option>Analista</option>
					  <option>Ejecutivo</option>
					  <option>Cliente</option>
					</select>
				</div>
	 		</div>
		    <div class="checkbox">
		      <label style="margin-left: 20px;font-weight:bold;">
		        ROL
		      </label>
		    </div>
		    <div class="checkbox">
		      <label style="margin-left: 40px;font-size:10px;">
		        <input type="checkbox" > ROLES
		      </label>
		    </div>
		    <div class="checkbox">
		      <label style="margin-left: 40px;font-size:10px;">
		        <input type="checkbox" > PERMISOS
		      </label>
		    </div>
		    <div class="checkbox">
		      <label style="margin-left: 40px;font-size:10px;">
		        <input type="checkbox" > AJUSTES
		      </label>
		    </div>
		    <div class="checkbox">
		      <label style="margin-left: 20px;font-weight:bold;">
		        EMPRESA
		      </label>
		    </div>
			<div class="checkbox">
		      <label style="margin-left: 40px;font-size:10px;">
		        <input type="checkbox" > PERFIL
		      </label>
		    </div>
		    <div class="checkbox">
		      <label style="margin-left: 20px;font-weight:bold;">
		        MEMBRESIA
		      </label>
		    </div>
		    <div class="checkbox">
		      <label style="margin-left: 40px;font-size:10px;">
		        <input type="checkbox" > MEMBRESIAS
		      </label>
		    </div>
		    <div class="checkbox">
		      <label style="margin-left: 40px;font-size:10px;">
		        <input type="checkbox" > BENEFICIOS
		      </label>
		    </div>
		    <div class="checkbox">
		      <label style="margin-left: 40px;font-size:10px;">
		        <input type="checkbox" > CONFIGURACION
		      </label>
		    </div>


		    <button type="submit" class="btn btn-default" style="margin-left: 20px;margin-top:20px;">Guardar</button>
		    	<%= link_to 'Salir', root_path %>
		</form>
	</fieldset>
 </div>
