<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>AtlasCRM 2016</title>
</head>
<body>
<header >
</header>

<div>
	<div>
		<h1>AtlasCRM2016</h1>
	</div>
	<div>
		<%=@mensaje %>
	</div>
	<br>
	<div>
		la membresia <%=@membership.nombre %> con un precio de bs <%=@membership.monto %> ,
		 esta en un descuento
	</div>
</div>
<footer >

</footer>
</body>
</html>
