<div class="row">
  <fieldset id="formulario_base" style="margin-bottom: 20px;">
  <legend id="formulario_title"><p>Registro Usuario</p></legend>

<form>
 
 <div class="form-group ">
<label for="exampleInputEmail1" class="col-xs-offset-2 col-xs-9">Registrar por medio de una red social:<span class="required"></span></label>

<div class ="row">
<div  class="col-xs-offset-2 col-xs-9">
      
  

 <div class="social">
  <ul class="social-share">

      <li ><a href="www.facebook.com" style="background:blue;"><i class="fa fa-facebook"></i></a></li>
      <li><a href="www.twitter.com" style=" background:#0084b4;"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#" style=" background:#0e76a8;" ><i class="fa fa-linkedin"></i></a></li> 
      <li><a href="www.instagram.com" style=" background:#9b6954;"><i class="fa fa-instagram"></i></a></li>
      
      </ul>
  </div>
</div>
</div>
</div>

<div class="form-group ">
<h3 for="exampleInputEmail1" class="col-xs-offset-2 col-xs-9">o Registrarse:<span class="required"></span></h3>
</div>

      <div class="form-group">
        <label for="exampleInputEmail1" class="col-xs-offset-2 col-xs-9">Nombre</label>
        <div class="col-xs-offset-2 col-xs-9">
          <input type="text" class="form-control">
      </div>
      <br><br>
      </div>

       <div class="form-group">
        <label for="exampleInputEmail1" class="col-xs-offset-2 col-xs-9">Apellido</label>
        <div class="col-xs-offset-2 col-xs-9">
          <input type="text" class="form-control">
      </div>
      <br><br>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1" class="col-xs-offset-2 col-xs-9">Edad</label>
        <div class="col-xs-offset-2 col-xs-9">
          <input type="text" class="form-control">
      </div>
      <br><br>
      </div>

       <div class="form-group">
        <label for="exampleInputEmail1" class="col-xs-offset-2 col-xs-9">Email</label>
        <div class="col-xs-offset-2 col-xs-9">
          <input type="text" class="form-control">
      </div>
      <br><br>
      </div>

       <div class="form-group">
        <label for="exampleInputEmail1" class="col-xs-offset-2 col-xs-9">Telefono</label>
        <div class="col-xs-offset-2 col-xs-9">
          <input type="text" class="form-control">
          <br>
      </div>
      </div>

       <div class="form-group">
        <label for="exampleInputFile" class="col-xs-offset-2 col-xs-9">Foto Perfil</label>
        <div class="col-xs-offset-2 col-xs-9">
        <input type="file" id="exampleInputFile">
        <br><br>
        </div>

      </div>

      <div class="form-group">
        <label for="exampleInputEmail1" class="col-xs-offset-2 col-xs-9">Direccion</label>
        <div class="col-xs-offset-2 col-xs-9">
          <input type="text" class="form-control">
          <br>
      </div>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1" class="col-xs-offset-2 col-xs-9">Ciudad</label>
        <div class="col-xs-offset-2 col-xs-9">
          <input type="text" class="form-control">
          <br>
      </div>
      </div>
       <div class="form-group">
        <label for="exampleInputEmail1" class="col-xs-offset-2 col-xs-9">Estado</label>
        <div class="col-xs-offset-2 col-xs-9">
          <input type="text" class="form-control">
          <br>
      </div>
      </div>
         <div class="form-group">
        <label for="exampleInputEmail1" class="col-xs-offset-2 col-xs-9">Pais</label>
        <div class="col-xs-offset-2 col-xs-9">
          <input type="text" class="form-control">
          <br>
      </div>
      </div>
      
     
 <div class="form-group ">
<label for="exampleInputEmail1" class="col-xs-offset-2 col-xs-9">Nombre de Usuario:<span class="required">*</span></label>
<div class="col-xs-offset-2 col-xs-9">
<input class=" form-control" id="fullname" name="fullname" type="text" />
</div>
</div>

 <div class="form-group ">
<label for="exampleInputEmail1" class="col-xs-offset-2 col-xs-9">Contrasena:<span class="required">*</span></label>
<div class="col-xs-offset-2 col-xs-9">
<input class=" form-control" id="fullname" name="fullname" type="text" />
</div>
</div>

 <div class="form-group ">
<label for="exampleInputEmail1" class="col-xs-offset-2 col-xs-9">Repetir Contrasena:<span class="required">*</span></label>
<div class="col-xs-offset-2 col-xs-9">
<input class=" form-control" id="fullname" name="fullname" type="text" />
</div>
</div>

     
        

      <div class="form-group">
        <div class="col-xs-offset-2 col-xs-9">
            <button type="button" class="btn btn-info"><i class="fa fa-check fa-2x"></i>Guardar</button>
          </div>
      </div>

    </form>
 



  </fieldset>

  <div class="form-group">
      <div style="margin-left: 40px;">
          <%=link_to 'Salir', root_path %>
        </div>
    </div>
  
</div>