<div class="row">
  <fieldset id="formulario_base" style="margin-bottom: 20px;">
  <legend id="formulario_title"><p>Reunion</p></legend>

<form>
 

      <div class="form-group">
      <label for="exampleInputEmail1" class="col-xs-offset-2 col-xs-9">Fecha y Hora</label>
        <div class="col-xs-offset-2 col-xs-9">
            <div class="form-group">
                <div class='input-group date' id='datetimepicker6'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
      </div>

 

      <div class="form-group">
        <label for="exampleInputEmail1" class="col-xs-offset-2 col-xs-9">Lugar</label>
        <div class="col-xs-offset-2 col-xs-9">
          <input type="text" class="form-control">
          <br>
      </div>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1" class="col-xs-offset-2 col-xs-9">Asunto</label>
        <div class="col-xs-offset-2 col-xs-9">
          <input type="text" class="form-control">
          <br>
      </div>
      </div>
      
      <div class="form-group">
        <label for="exampleInputFile" class="col-xs-offset-2 col-xs-9">Adjuntar Archivo</label>
        <div class="col-xs-offset-2 col-xs-9">
        <input type="file" id="exampleInputFile">
        <br><br>
        </div>

      </div>

      <div class="form-group">
        <label for="exampleInputEmail1" class="col-xs-offset-2 col-xs-9">Informacion Adicional</label>
        <div class="col-xs-offset-2 col-xs-9">
          <textarea class="form-control ckeditor" style="width:200px;" name="editor1" rows="6"></textarea>
          <br>
      </div>
      </div>
      
   

      <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
            <button type="button" class="btn btn-info"><i class="fa fa-check fa-2x"></i>Guardar</button>
          </div>
      </div>

    </form>
 



  </fieldset>

  <div class="form-group">
      <div style="margin-left: 40px;">
          <%=link_to 'Salir', enterprises_index_path %>
        </div>
    </div>
  
</div>