*::selection{
	background: transparent;
}

*::-moz-selection{
	background: transparent;
}

*::-webkit-selection{
	background: transparent;
}

#aplicacion{
	background:#D5DDE0; 
}

#formulario{
	background:white;
	margin: 20px auto;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0 0 20px black;
	padding: 2%;
}

.i{
  display: inline-block;
  font-size: 20px;
  width: 20px;
  text-align: center;
  margin-top: 6px;
  margin-right: 6px;
  color: #D0D8DF;
  float:left;
}

.e{
  display: inline-block;
  font-size: 32px;
  width: 20px;
  text-align: center;
  margin-top: 6px;
  margin-right: 26px;
  color: #D0D8DF;
  float:right;

}

#header{
	width: 100%;
	z-index: 1000;
	background:#59B9DF;
}

#footer {
    background:#2b2b2b;
    color:#ddd;
    padding-top: 5px;
}

#footer h4{
	font-size: 90%;
	font-weight: bold;
}
#footer .nav li{
	display: inline-block;
	text-align: center;
	margin: 0 auto;

}

#footer .nav>li>a {
	font-size: 90%;
	font-weight: bold;
    padding: 3px;
    color: #fff;
}

#footer .nav>li>a:hover {
    background-color:white;
    color:#000;
    border-radius: 8px 8px 8px 8px;
}

#menu_desplegable{
	width: 30px;
	height: 30px;
	margin-top:16px;
	float: left;
}

#menu{
	background: url('/assets/menu.png');
	background-size:  30px 30px;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	border: none;
}

#menu:hover{
	background: url('/assets/menu2.png');
	background-size:  30px 30px;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	border: none;
}

#logo{
	background: url('/assets/logo.png');
	background-size:  170px 50px;
	background-repeat: no-repeat;
	width:  170px;
	height:  56px;
	margin-top:6px;
	float: left;
}

#logo_footer{
	text-align: center;
}

/*nav*/
#arbol{
	background: #57889C;
	opacity: 1;
	width: 26%;
	/*height: calc(100% - 70px);*/
	height: calc(100% - 80px);
	position: fixed;
	right:100%;
	margin: 0;
	top: 0;
	overflow: hidden; 
	z-index:1000;
}

/*nav ul*/
#arbol #padre{
	list-style: none;
	line-height: 36px;
	margin: 2em auto;
	margin-left: -30px;
}

#padre li{
	box-shadow: 3px 0 rgba(255,255,255,.2) inset;
	margin-bottom: 6px;
	display: block;
	border: #D0D8DF 1px solid;
	border-radius: 4px 4px 4px 4px;
	-webkit-transition: all.5s;
	-o-transition: all 2s;
	-moz-transition: all .5s;
	transition: all .5s;
}

#padre li a{
	padding-left: 1em;
}

#padre li:hover{
	box-shadow: 40em 0 rgba(255,255,255,.2) inset;
}

#padre li:hover .hijo{
	display: none;
}

#padre li a{
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	width: 100%;
	font-size: 14px;
	color: #D0D8DF;
}

#padre a:hover{
	background: #2E3B46;
	margin-left: 1em;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	-moz-transition: all.5s;
	transition: all.5s;
}

.hijo{
	display: none;
	background: #394A59;
}

.submenu{
	background: #2E3B46;
}

.hijo li {
	margin-left: -30px;
	background: #394A59;
}

.hijo li a{
	font-size: 10px;
}

.hijo li a:hover{
	font-size: 12px;
}

#buscar{
	margin-top:14px;
}

#txtbuscar{

}

.clock{
	font-family: 'Comic Sans MS';
	font-size:  24px;
	font-weight: bold;
	margin-top: 14px;
	margin-left: -16px;
	color: #F6F6F6;

}

#navegacion{
	text-align: center;
	margin-top: 20px;
}

#navegacion li{
	display: inline;
	margin-left: 6px;
	margin-right: 6px;
}

#navegacion li a{
	text-decoration: none;
	color: #F6F6F6;
	font-family: 'Arial';
	padding: 4px 4px 4px 4px;
}

#navegacion li a:hover{
	color: #717171;
	background: #F6F6F6;
	border-radius: 4px 4px 4px 4px; 
}

/*Pantalla de login*/
#modal_header{
	background:#59B9DF; 
	border-radius: 6px 6px 0px 0px;
}

#logo_login{
	background: url('/assets/logo.png');
	background-size:  141px 40px;
	background-repeat: no-repeat;
	width:  141px;
	height:  40px;
}

#modal_body{
	background:#D5DDE0; 
}

#modal_footer{
	background:#59B9DF; 
	border-radius: 0px 0px 6px 6px;
}

#content_redSocial{
	background: white;
	border-radius: 6px 6px 6px 6px;
	max-width: 50%;
	margin-left: 25%;
	padding-top: 5%;
	padding-bottom: 5%;
	text-align: center;
}

#p_user{
	margin-top: 20px;
	margin-left: 6%;
	font-family: 'Arial';
	font-weight: bold;
	color: #F6F6F6;
	text-transform: uppercase;
	cursor: pointer;
	position: relative;
}

.arrow{
	width: 26px;
	height: 12px;
	background: url('/assets/arrow.png');
	background-size: 26px 12px;
	background-repeat: no-repeat;
	top: -12px;
	left: 90px;
	position: absolute; 
}

#p_user a{
	margin-left: 4px;
	text-decoration: none;
	text-transform: capitalize;
}

#formulario_base{
	box-shadow: 0 .1em 1em #B4BCC2;
	-webkit-box-shadow: 0 .1em 1em #B4BCC2;
	-moz-box-shadow: 0 .1em 1em #B4BCC2;
	-o-box-shadow: 0 .1em 1em #B4BCC2;
	background: white;
	margin-top: 40px;
	margin-left: 40px;
	margin-right: 40px; 
	padding-bottom: 40px;
	border-radius: 6px 6px 6px 6px;
	z-index: 1;
}

#formulario_title{
	box-shadow: 0 .1em 1em #B4BCC2;
	-webkit-box-shadow: 0 .1em 1em #B4BCC2;
	-moz-box-shadow: 0 .1em 1em #B4BCC2;
	-o-box-shadow: 0 .1em 1em #B4BCC2;
	background: #57889C;
	width: 240px;
	margin-left: -10px;
	margin-bottom: 0px;
	border-radius: 6px 6px 6px 6px;
}

#formulario_title p{
	color: #D0D8DF; 
	text-align: center;
	margin-bottom: 0px;
}

/* Tablas*/

#activos{
	background-color: #F4F2FF;
}

#eliminados{
	background-color: #E6D8DB
}

#activos:hover{
	opacity: 0.9;
	background-color: #ACA3FF;
	cursor: pointer;
	color: white;
}

#activos:hover a{
	text-decoration: none;
}

#activos:hover a:hover{
	color: white;
}

#eliminados:hover{
	opacity: 0.9;
	background-color: #D96A6A;
	cursor: pointer;
	color: white;
}

#eliminados:hover a{
	text-decoration: none;
}

#eliminados:hover a:hover{
	color: white;
}

/*Archivos*/

.thumbnail {
    width: 171px;
    height: 180px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.v_previa {
    position: relative;
}
.v_previa a {
    position: absolute;
    bottom: 5px;
    display: none;
    margin-left: 2%;
    width: 90%;
}
.archivo-info {
    text-align: center;
    display: block;
    width: 90%;
    margin-left: 5%;
}
.archivo {
    position: absolute;
	visibility: hidden;
	width: 0;
	z-index: -9999;
}

.v_previa .img{
	width: 170px;
	height: 170px;
}

@media screen and (max-width: 936px) {

	#logo{
		background: url('/assets/logo2.png');
		background-size:  120px 20px;
		background-repeat: no-repeat;
		width:  120px;
		height:  42px;
		margin-top: 20px;
		margin-left: 6px;
	}

	#buscar{ 
	
	}

	#arbol{
		width: 54%;
	}

}

@media screen and (max-width: 767px) {

	#logo{
		background: url('/assets/logo.png');
		background-size:  170px 50px;
		background-repeat: no-repeat;
		width:  170px;
		height:  56px;
		margin-top:6px;
		float: left;
	}

	#buscar{
		margin-top:6px;
	}

	.clock{
		margin-top: 4px;
		font-size: 18px;
		margin-left: 2%;
		
	}

	#arbol{
		width: 50%;
	}

	#p_user{
		margin-top: 8px;
	}
}

@media screen and (max-width: 640px) {
	#arbol{
		width: 70%;
	}

	.thumbnail {
	    width: 130px;
	    height: 150px;
	    margin: 0 auto;
	    margin-bottom: 10px;
	}

	.v_previa .img{
		width: 130px;
		height: 140px;
	}

}

@media screen and (max-width: 400px) {
	#buscar{
		
	}

	.clock{
		
		
	}

	#arbol{
		width: 90%;
	}

	.thumbnail {
	    width: 90px;
	    height: 100px;
	    margin: 0 auto;
	    margin-bottom: 10px;
	}

	.v_previa .img{
		width: 90px;
		height: 90px;
	}

	.v_previa a {
		margin-left: 10%;
	    width: 80%;
	    font-size: 8px;
	}

}