<section class="row">
    <div class="col-sm-12 col-md-12">
	    <div id="slider">
	        <ul class="bjqs">
	            <li id="slider1_template"> 
	                <%= image_tag("slider1_template.jpg", alt: "", title: session[:t_slider1] ) %>
	            </li>
	            <li id="slider2_template">
	            	<%= image_tag("slider2_template.jpg", alt: "", title: session[:t_slider2] ) %>
	            </li>
	             <li id="slider3_template">
	             	<%= image_tag("slider3_template.jpg", alt: "", title: session[:t_slider3] ) %>
	            </li>
	        </ul>
	    </div>
    </div>
</section>